.md-typeset code {
    word-break: normal;
}


.md-grid {
    max-width: 81rem;
}


.tabbed-set {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.tabbed-set .highlight {
    background: #ddd;
}

.tabbed-set .tabbed-content {
    display: none;
    order: 99;
    width: 100%;
}

.tabbed-set label {
    width: auto;
    margin: 0 0.5em;
    padding: 0.25em;
    font-size: 120%;
    cursor: pointer;
}

.tabbed-set input {
    position: absolute;
    opacity: 0;
}

.tabbed-set input:nth-child(n+1) {
    color: #333333;
}

.tabbed-set input:nth-child(n+1):checked + label {
    color: #FF5252;
}

.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
    display: block;
}

/* Fix scrollbar in admonitions when containing a table */
.md-typeset .admonition .md-typeset__scrollwrap {
    margin-right: 0;
}


/* Code highlighting */

.md-typeset code, .md-typeset pre {
    color: var(--ibexa-dusk-black);
}

.md-typeset .codehilite code, .md-typeset .codehilite pre {
    background-color: #fff;
    padding: 0;
}

.md-typeset .codehilite code, .md-typeset .codehilite pre code {
    padding: 1.05rem 1.2rem;
}

.md-typeset .codehilitetable {
    border: 1px solid var(--codeblock);
}
